#footer-text
{
    text-align      : center;
}

#footer-text-bottom
{
    text-align      : center;
}

#footer
{
    margin-bottom   : 0 !important;
    width: 100%;
    margin-top: 40px;
}

#footer-logo
{
    display         : block;
    margin-left     : auto;
    margin-right    : auto;
    width           : 10%;
    padding-top     : 20px;
}