.bg-dark
{
    background-color: white !important;
}

#logo
{
    height: 20px;
    width: auto;
}

.navbar-dark .navbar-nav .nav-link
{
    color: grey;
}



span
{
    padding: none!important;
    margin: none!important;
    border:none!important;
    height: 40px!important;
    vertical-align: middle!important;
    line-height: 40px!important;
    width: 150px!important;
}