div.product-image img {
    width       : 100%;
    height      : 100%;
  }

#product-description
  {
    color       : $list-header;
  }

  #product-specification
  {
    color       : $list-header;
  }

#product-image
  {
    width       : 500px;
    height      : auto;
  }

  #input-box
  {
    width: 300px;
    margin-bottom: 20px;
  }

  #product-card
  {
    margin-top: 30px;
    margin-bottom: 30px;
  }