#product-list-image
{
  padding: 35px;
  width: auto;
  height: 300px;
  display: block !important;
  text-align: center !important;
}

li.MuiGridListTile-root
{
  height: 400px !important;
  padding: 10px !important;
}

#product-list-title
{
  font-size   : 20px;
  text-align  : center !important;
  color       : darkslategray;
  font-weight : 600;
}

#product-list-description
{
  text-align  : center !important;
  color       : darkslategray;
  font-weight : 300;
}

#shop-surface
{
  font-size: 80px;
  font-weight: 700;
}

#shop-console
{
  font-size: 80px;
  font-weight: 700;
  padding-left: 400px;
  text-align: right;
}

#shop-console-description
{
  padding-top: 80px;
  text-align: right;
}