#slider-header
{
    color               : white;
    font-size           : 40px;
    padding-bottom      : 20px;
}

.btn-dark {
    color               : #fff;
    background-color    : grey;
    border-color        : grey;
    a
    {
        color           : black !important;
    }
}